@config '../../../tailwind.config.ts';
@import 'tailwindcss';

:root {
  --primary: #42b883;
  --secondary: #35495e;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

.blog-content pre code .line::before {
  content: attr(line);
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.875rem;
  left: 0;
  width: 1.5rem;
  text-align: right;
  opacity: 0.55;
  user-select: none;
  color: #fff;
}
